body {
    margin: 0;
    padding: 0;
}

.game-container {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

.game {
    display: grid;
    grid-template-columns: repeat(2, minmax(10vh, 100vh));
    grid-template-rows: max-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    margin-inline: 10%;
    height: 30vh;
    }
    
.div1 { grid-area: 1 / 1 / 2 / 2; text-align: center;}
.div2 { grid-area: 1 / 2 / 2 / 3; text-align: center;}
.div3 { grid-area: 2 / 1 / 3 / 2; text-align: center;}
.div4 { grid-area: 2 / 2 / 3 / 3; text-align: center;}

#result {
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    font-size: 3rem;
    height: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h1,h2,h3 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 5rem;
    font-family: 'Days One', sans-serif;
    text-transform: uppercase;
    height: 15vh;
}

h2 {
    font-family: 'Gochi Hand', cursive;
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    font-size: 1rem;
    font-family: 'Days One', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.copyright {
    margin: 4rem 2rem 2rem 2rem;
}

img {
    width: 100%;
    max-width: 50%;
}

.player1{
    color: #3a54b2;
}

.player2{
    color: #d24343;
}



/* -------------- Button Code Style --------------*/

#wrapper{
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .my-super-cool-btn{
    font-family: 'Gochi Hand', cursive;
    position:relative;
    text-decoration:none;
    color:black;
    letter-spacing:1px;
    font-size:3rem;
    box-sizing:border-box;
  }
  .my-super-cool-btn span{
    position:relative;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
    width:150px;
    height:150px;
  }
  .my-super-cool-btn span:before{
    content:'';
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    border-radius:100%;
    border:7px solid #182c71;
    box-sizing:border-box;
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
    box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
  }
  .my-super-cool-btn:hover span:before{
    transform:scale(0.8);
    box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
  }
  .my-super-cool-btn .dots-container{
    opacity:0;
    animation: intro 1.6s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn .dot{
    width:8px;
    height:8px;
    display:block;
    background-color:#182c71;
    border-radius:100%;
    position:absolute;
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  }
  .my-super-cool-btn .dot:nth-child(1){
    top:50px;
    left:50px;
    transform:rotate(-140deg);
    animation: swag1-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn .dot:nth-child(2){
    top:50px;
    right:50px;
    transform:rotate(140deg);
    animation: swag2-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn .dot:nth-child(3){
    bottom:50px;
    left:50px;
    transform:rotate(140deg);
    animation: swag3-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn .dot:nth-child(4){
    bottom:50px;
    right:50px;
    transform:rotate(-140deg);
    animation: swag4-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn:hover .dot:nth-child(1){
    animation: swag1 0.3s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn:hover .dot:nth-child(2){
    animation: swag2 0.3s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn:hover .dot:nth-child(3){
    animation: swag3 0.3s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn:hover .dot:nth-child(4){
    animation: swag4 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes intro {
     0% {
       opacity:0;
    }
    100% {
       opacity:1;
    }
  }
  @keyframes swag1 {
     0% {
       top:50px;
       left:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       top:20px;
       left:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag1-out {
     0% {
       top:20px;
       left:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       top:50px;
       left:50px;
       width:8px;
      opacity:0;
    }
  }
  @keyframes swag2 {
     0% {
       top:50px;
       right:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       top:20px;
       right:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag2-out {
     0% {
       top:20px;
       right:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       top:50px;
       right:50px;
       width:8px;
      opacity:0;
    }
  }
  @keyframes swag3 {
     0% {
       bottom:50px;
       left:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       bottom:20px;
       left:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag3-out {
     0% {
       bottom:20px;
       left:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       bottom:50px;
       left:50px;
       width:8px;
      opacity:0;
    }
  }
  @keyframes swag4 {
     0% {
       bottom:50px;
       right:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       bottom:20px;
       right:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag4-out {
     0% {
       bottom:20px;
       right:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       bottom:50px;
       right:50px;
       width:8px;
      opacity:0;
    }
  }